/* 
.grid-container{
    display: grid;
    grid-template-columns: repeat( 3 ,1fr);
    grid-template-rows: 100px;
}

.item{
    background-color: orange;
    border: 1px solid black;
} */

.grid-container{
    display: grid;
    grid-template-columns: 3fr;
gap: 10px;
    /* grid-template-rows: 1; */
}

.item{

    background-color: orange;
    border: 1px solid black;
}